apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3.11-management
          ports:
            - containerPort: 5672
            - containerPort: 15672
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: common-secrets
                  key: rabbitMQDefaultUser
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: common-secrets
                  key: rabbitMQDefaultPass
            - name: RABBITMQ_DEFAULT_VHOST
              valueFrom:
                secretKeyRef:
                  name: common-secrets
                  key: rabbitMQDefaultVHost
            - name: RABBITMQ_HOST
              valueFrom:
                secretKeyRef:
                  name: common-secrets
                  key: rabbitMQDefaultHost
